@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 90%;
    position: relative;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 400px;
    width: 230px;
    background-color: blue;
    background: url('../imagens/frame-iphone.png') no-repeat;
}
section#redes-sociais img {
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.702);
    box-sizing: border-box;
}
section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.681);
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 10px black;
    transition: .5s;
}
section#redes-sociais {
    text-align: right;
}
iframe#tela{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-59%, -48%);
    width: 170px;
    height: 297px;
}
