@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
:root {
    --black: #0D0D0D;
    --lightblack: #262626;
    --white: #F2F2F2;
    --lightgray: #A6A6A6;
    --gray: #595958;
}
@font-face {
    font-family: 'GTA';
    src: url(fonts/gta.ttf) format(truetype);
}
body{
    background: var(--lightgray);
    margin: 0;
    color: var(--black);
}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;   
    font-size: 16px;
}
header{
    font-family: 'GTA';
    background-color: var(--gray);
    color: var(--black);
    margin: var(--black);
    padding: 20px;
    text-shadow: 5px 5px 3px rgb(67, 65, 65);
}
nav{
    font-family: 'GTA';
    font-size: 25px;
    margin-top: 20px;
   
}
nav > a{
    color: var(--black);
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    
}
footer{
    background-color: var(--lightblack);
    color: var(--black);
    padding: 15px;
    text-shadow: 2px 1px 1px var(--lightgray);
}
footer > p{
    font-family: 'GTA';
    margin: 0;
}
footer > p > a{
    color: var(--black);
    text-decoration: none;
}
aside#caixa{
    background-color: var(--white);
    width: 200px;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 15px;
    box-shadow: 5px 10px 10px 1px black;
}
aside#caixa > p{
    font-weight: bold;
    text-align: justify;
    margin: 0;
}
section{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--lightblack);
    background-color: var(--white);
    padding-top: 10px; 
    padding-left: 10px;
    padding-bottom: 10px;
}
h2.versoes{
    text-align: center;
}
p.video{
   padding-top: 15px;
}
abbr{
    text-decoration: none;
}
div.video{
    background-color: var(--gray);
    padding: 20px 10px 20px 10px;
    position: static;
}
div.video > iframe{
    position: relative;
    left: 30%;
}
aside#verzoes{
    background-color: var(--gray);
    padding: 5px;
    border-radius: 10px;
    width: 500px;
    height: 160px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}
aside#verzoes > ul{
    margin-left: 15%;
    columns: 2;
    list-style-type: '\1F5F9';
}
aside#verzoes > h3{
    background-color: var(--black);
    color: var(--white);
    padding: 5px;
    margin: -5px -5px 0px -5px;
    border-radius: 10px 10px 0px 0px;
}

