@charset "UTF-8";

/* Todas as outras */

/* Typical Device Breakpoints
Pequenas telas: 600px max
Celular: 600 até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media print {
        * {
            font-family: 'Courier New', Courier, monospace;
        }
        main {
            border: 2px solid black;
        }
        main::after {
            content: "Você que é o fodakk";
            text-decoration: overline;
        }
        main h1{
            text-shadow: none;
            color: black;
        }
    img#phone {display: none;}
    img#tv {display: none;}
    img#print {display: block;}
    img#desk {display: none;}
    img#tab {display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../img/back-tablet.jpg);
    }
    img#phone {display: none;}
    img#tv {display: none;}
    img#print {display: none;}
    img#desk {display: none;}
    img#tab {display: block;}
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../img/back-pc.jpg);
    }
    img#phone {display: none;}
    img#tv {display: none;}
    img#print {display: none;}
    img#desk {display: block;}
    img#tab {display: none;}
    
}
@media screen and (min-width: 1200px) {
    body {
        background-image: url(../img/back-tv.jpg);
    }

    img#phone {display: none;}
    img#tv {display: block;}
    img#print {display: none;}
    img#desk {display: none;}
    img#tab {display: none;}
}
